global
    log /dev/log local0
    log /dev/log local1 notice
    user haproxy
    group haproxy
    maxconn 4096
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    daemon

defaults
    log global
    mode tcp
    timeout connect 5000
    timeout client 50000
    timeout server 50000

frontend tcp-in
    bind 115.20.2.247:8080
    default_backend app-servers

backend app-servers
    balance roundrobin
    mode tcp
    server webserver01 115.20.2.244:80 check
    server webserver02 115.20.2.245:80 check
    server webserver03 115.20.2.246:80 check
 


